* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #e1e3eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #333;                 /* outer border */
    border-radius: 20px;                     /* rounded corners */
    padding: 20px;                           /* space inside border */
    background-color: #f2f2f2;               /* background inside border */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* shadow for 3D effect */
}

.display {
  background-color: white;
  width: 100%;
  max-width: 475px;
  height: 75px;
  margin: 10px;
  border-radius: 30px;
  font-size: 32px;        /* large text */
  text-align: right;      /* numbers aligned to right */
  padding-right: 20px;
  display: flex;
  align-items: center;    /* vertically center text */
  justify-content: flex-end;
}


button {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    padding: 12px 25px;
    transition: background-color 0.2s; /* smooth hover effect */
}

button:hover {
    background-color: rgb(98, 102, 105);
}

.wide {
    width: 225px; /* AC and DE buttons */
}
